.footerStyle {
    display: flex;
    justify-content: center;
    background-color: black;
    color: #ff8400;
    font-size: 20px;
}
.footerStyle:hover {
    color: #0ca616;
}

.buttonGitHub{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 10px;
    background-color: black;
    border: 1px black solid;
    color: #ff8400;
   
}
.buttonGitHub:hover{
    color: #0ca616;
}

.buttonLinkedln {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 10px;
    background-color: black;
    border: 1px black solid;
    color: #ff8400;
}
.buttonLinkedln:hover{
    color: red;
}
